body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f4f6;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#display {
background-color:	#36454F;
color: white;
    font-size: 2rem;
    text-align: right;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    border: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    font-size: 1.5rem;
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f1f1f1;
}

button:active {
    background-color: #e0e0e0;
}

button:nth-child(17) {
    grid-column: span 4;
}
